/* H5对象的全局样式*/

body{
    background-color:#272A35
}
.section{
    position: relative;
}
.h5_component{
    background-size:100% ;
    position: absolute;
    opacity:0
}
.h5_component_name_logo{
    animation: rock 2s infinite 1s;
    -webkit-animation: rock 2s infinite 1s;
}
@-webkit-keyframes rock {
    0%{ transform:rotate(0deg)}
    5%{ transform:rotate(6deg)}
    10%{ transform:rotate(-6deg)}
    15%{ transform:rotate(3deg)}
    20%{ transform:rotate(-2deg)}
    25%{ transform:rotate(1deg)}
    30%{ transform:rotate(-1deg)}
    70%{ transform:rotate(0deg)}
}
.h5_component_name_caption{
    background-image:url("../imgs/caption.png");
    font-size:26px;
    top:15%;
    color:#D9D9D9;
    text-align:center;
    line-height:1.7;
}

.h5_component_name_arrow{
    animation: arrow 2s infinite 1s;
    -webkit-animation: arrow 2s infinite 1s;
}

@-webkit-keyframes arrow {
    0%{ transform:translateY(2px)}
    20%{ transform:translateY(-2px)}
    60%{ transform:translateY(-6px)}
    90%{ transform:translateY(-10px)}
}